body
	background-color $bodyBgColor
	color $fontColor
	min-height 100vh
	flex-flow row wrap
	justify-content flex-start
	align-items flex-start
	display flex

h1
	text-align center
	color $colorPrimaryLight
	margin $layoutSpaceHalf

.page-wrapper
.page-footer
	flex 1 100%

.page-content
	padding $layoutSpace

.page-footer
	//height $footerHeight
	align-self flex-end
