doctype html
html
	head
		meta(charset="UTF-8")
		title Webpack Baseproject
		link(href="https://fonts.googleapis.com/css?family=Chivo|Pathway+Gothic+One|Roboto+Mono|Rubik:900",rel="stylesheet")
	body
		div(class="page-wrapper")
			nav(id="menu", class="page-nav")
			main(class="page-content")
				header(id="headline", class="layout-section")
				section(id="content", class="layout-section")
				section(id="aframe-demo", class="layout-section aframe-section")
		footer(id="footer", class="page-footer")
